//colors
$lightBlue:#C7F7FF;
$medBlue:#89C0C9;
$darkBlue:#3a5E63;
$lightBrown:#C9A689;
$darkBrown:#7C593C;
$lightGrey:#d4d4d4;
$darkGrey:#222;
$white: #fff;
//Fonts
$font1: 'Josephin Sans';
$font2: 'Trebuchet MS';
$font3: Helvetica;
$font4: sans-serif;
$font5: Cardo;
$font6: 'Palatino Linotype';
$font7: 'Book Antiqua';
$font8: Palatino;
$font9: serif;